## CIS Ubuntu 26.04 v1.0.0 | 6.2.3.30 | Ensure successful and unsuccessful attempts to use the usermod command are collected
-a always,exit -F arch=b64 -F path=/usr/sbin/usermod -F perm=x -F auid>={{ cis_ubuntu2604_audit_uid_min }} -F auid!=unset -k usermod
