## CIS Ubuntu 26.04 v1.0.0 | 6.2.3.18 | Ensure discretionary access control permission modification events chmod,fchmod,fchmodat,fchmodat2 are collected
-a always,exit -F arch=b32 -S chmod,fchmod,fchmodat,fchmodat2 -F auid>={{ cis_ubuntu2604_audit_uid_min }} -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S chmod,fchmod,fchmodat,fchmodat2 -F auid>={{ cis_ubuntu2604_audit_uid_min }} -F auid!=unset -k perm_mod
