## CIS Ubuntu 26.04 v1.0.0 | 6.2.3.14 | Ensure events that modify /etc/shadow and /etc/gshadow are collected
-a always,exit -F arch=b64 -F path=/etc/gshadow -F perm=wa -k identity
-a always,exit -F arch=b64 -F path=/etc/shadow -F perm=wa -k identity
