## CIS Ubuntu 26.04 v1.0.0 | 6.2.3.17 | Ensure events that modify /etc/pam.conf and /etc/pam.d/ information are collected
-a always,exit -F arch=b64 -F path=/etc/pam.conf -F perm=wa -k identity
-a always,exit -F arch=b64 -F dir=/etc/pam.d -F perm=wa -k identity
