## CIS Ubuntu 26.04 v1.0.0 | 6.2.3.19 | Ensure discretionary access control permission modification events chown,fchown,lchown,fchownat are collected
-a always,exit -F arch=b32 -S chown,fchown,lchown,fchownat -F auid>={{ cis_ubuntu2604_audit_uid_min }} -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S chown,fchown,lchown,fchownat -F auid>={{ cis_ubuntu2604_audit_uid_min }} -F auid!=unset -k perm_mod
