## CIS Ubuntu 26.04 v1.0.0 | 6.2.3.7 | Ensure events that modify /etc/hosts and /etc/hostname are collected
-a always,exit -F arch=b64 -F path=/etc/hosts -F perm=wa -k system-locale
-a always,exit -F arch=b64 -F path=/etc/hostname -F perm=wa -k system-locale
