## CIS Ubuntu 26.04 v1.0.0 | 6.2.3.23 | Ensure login and logout events are collected
-a always,exit -F arch=b64 -F path=/var/log/lastlog -F perm=wa -k logins
-a always,exit -F arch=b64 -F path=/var/run/faillock -F perm=wa -k logins
