## CIS Ubuntu 26.04 v1.0.0 | 6.2.3.25 | Ensure rename file deletion events by users are collected
-a always,exit -F arch=b32 -S rename,renameat,renameat2 -F auid>={{ cis_ubuntu2604_audit_uid_min }} -F auid!=unset -k delete
-a always,exit -F arch=b64 -S rename,renameat,renameat2 -F auid>={{ cis_ubuntu2604_audit_uid_min }} -F auid!=unset -k delete
