## CIS Ubuntu 26.04 v1.0.0 | 6.2.3.33 | Ensure kernel 'delete_module' loading unloading and modification is collected
-a always,exit -F arch=b32 -S delete_module -F auid>={{ cis_ubuntu2604_audit_uid_min }} -F auid!=unset -k kernel_modules
-a always,exit -F arch=b64 -S delete_module -F auid>={{ cis_ubuntu2604_audit_uid_min }} -F auid!=unset -k kernel_modules
